html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	overflow: auto;
}

.wrapper {
	margin: auto;
	position: relative;
	height: 100%;
}

.bar-wrapper {
	min-width: 1366px;
	height: 210px;
	background: url(./assets/Bar/Background.png) no-repeat;
	background-size: cover;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=enable, sizingMethod=scale, src="./assets/Bar/Background.png");
}

.bar {
	width: 1366px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.bar img {
	width: 96px;
	height: 36px;
	position: absolute;
	top: 18px;
	left: 171px;
}

.bar span {
	display: block;
	width: 1px;
	height: 14px;
	background-color: #FFFFFF;
	position: absolute;
	top: 32px;
	left: 279px;
}

.model {
	width: 94px;
	height: 17px;
	line-height: 18px;
	font-family: ArialMT;
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	top: 30.6px;
	left: 292px;
	margin: 0;
}

.minimenu-wrapper {
	height: 24px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 26px;
	left: 889px;
	z-index: 10;
}

.minimenu {
	float: left;
	margin-right: 30px;
	cursor: default;
}

.minimenu:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.minimenu-icon {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.minimenu-text {
	font-family: Arial;
	font-size: 14px;
	color: #36444B;
	line-height: 16px\9;
	line-height: 16px;
	height: 24px;
	margin: 4px 0 4px 0;
	float: left;
	vertical-align: middle;
}

.minimenu-icon1 {
	background: url(./assets/sprite.png);
	background-position: -604px -0px;
}

.minimenu-icon2 {
	background: url(./assets/sprite.png);
	background-position: -700px -0px;
}

.minimenu-icon3 {
	background: url(./assets/sprite.png);
	background-position: -604px -24px;
}

.menu-wrapper {
	height: 70px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 82px;
	left: 296px;
	z-index: 10;
}

.menu {
	height: 70px;
	width: 93px;
	margin-right: 42.5px;
	text-align: center;
	float: left;
}

.menu-icon {
	width: 44px;
	height: 44px;
	margin: 0 auto 10px auto;
}

.menu-icon:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.menu-text {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px\9;
	line-height: 16px;
	cursor: default;
}

.menu-icon1 {
	background: url(./assets/sprite.png);
	background-position: -560px -0px;
}

.menu-icon2 {
	background: url(./assets/sprite.png);
	background-position: -471px -0px;
}

.menu-icon3 {
	background: url(./assets/sprite.png);
	background-position: -382px -0px;
}

.menu-icon4 {
	background: url(./assets/sprite.png);
	background-position: -515px -0px;
}

.menu-icon5 {
	background: url(./assets/sprite.png);
	background-position: -426px -0px;
}

.menu-icon6 {
	width: 48px;
	height: 48px;
	background: url(./assets/sprite.png);
	background-position: -181px -0px;
}

.view-wrapper {
    min-width: 1366px;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding-top: 210px;
	width: 100%;
}

.view {
	width: 1024px;
	height: 100%;
	margin: -34px auto 24px auto;
	background: #FFFFFF;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06), 0 6px 6px 0 rgba(0, 0, 0, 0.16);
	/*z-index: 1000;*/
	position: relative;
	border-radius: 10px;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=4) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=6) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=4)"; */
}

.view:before {
	content: "";
	position: absolute;
	top: -16px;
	right: 167px;
	border-bottom: 16px solid #ffffff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.aside {
	width: 166px;
	height: 100%;
	max-height: 1645px;
	background: rgba(54, 68, 75, 0.10);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr=#1A36444B, endColorStr=#1A36444B);
	border-radius: 10px 0 0 0;
	float: left;
	overflow-y: auto;

}

.list-wrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.list-level1 {
	width: 142px;
	height: 16px;
	line-height: 16px\9;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #36444B;
	padding: 11px 8px 11px 16px;
	cursor: default;
}

.list-level1:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#list-level1-first {
	margin-top: 24px;
}

#list-level1-checked {
	background: #FFCB00;
	position: relative;
}

.list-select-icon{
	width: 24px;
	height: 24px;
	background-image: url(./assets/sprite.png);
	background-position: -652px -0px;
	position: absolute;
	right: 4px;
	top: 7px;
}

/* .list-level2{
	background: rgba(167, 169, 172, 0.18);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr=#2EA7A9AC, endColorStr=#2EA7A9AC);
} */

.list-level2 {
	width: 128px;
	height: 16.5px;
	line-height: 16px\9;
	line-height: 16px;
	font-family: Arial;
	font-size: 14px;
	color: #36444B;
	padding: 11px 10px 10.5px 28px;
	cursor: default;
	background: rgba(167, 169, 172, 0.18);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr=#2EA7A9AC, endColorStr=#2EA7A9AC);
}

.list-level2 div {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.list-level2:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#list-level2-first {
	padding-top: 19px;
}

#list-level2-last {
	padding-bottom: 18.5px;
}

#list-level2-checked {
	color: #005564;
	position: relative;
}

#list-level2-checked span {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #005564;
	border-radius: 100%;
	margin: 0;
	position: absolute;
	top: 16px;
	left: 16px;

}

.main {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	height: 100%;
}

.main-part {
	margin: 48px 92px 0 96px;
}

.part-name {
	font-family: Arial;
	font-size: 16px;
	color: #36444B;
	line-height: 18px;
	margin: 0 0 16px 0;
	font-weight: bold;
}

#first-part-name {
	margin-top: -16px;
}

.description {
	font-family: Arial;
	font-size: 14px;
	color: #A7A9AC;
	line-height: 16px\9;
	line-height: 16px;
	margin-bottom: 8px;
}

.cut-line {
	width: 670px;
	height: 1px;
	background-color: #D8D8D8;
	margin-bottom: 30px;
}

.setting-type1 {
	margin-top: 30px;
	width: 500px;
	height: 24px;
}

.setting-name {
	width: 245px;
	height: 16px;
	line-height: 16px\9;
	line-height: 16px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #36444B;
	text-align: right;
	float: left;
}

.setting-item {
	width: 245px;
	height: 16px;
	float: right;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px\9;
	line-height: 16px;
	position: relative;
	margin-left: 10px;
}

.checkmark,
.time-icon {
	width: 24px;
	height: 24px;
	background-image: url(./assets/sprite.png);
	background-position: -724px -0px;
	display: inline-block;
	margin-right: 4px;
	margin-top: -4px;
	position: absolute;
	top: 0;
	left: 0;
}

.checklable,
.time {
	font-size: 14px;
	width: 315px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px\9;
	line-height: 16px;
	position: absolute;
	top: 0;
	left: 28px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked+.checkmark {
	background-image: url(./assets/sprite.png);
	background-position: -725px -24px;
}

.setting-type2 {
	margin-top: 12px;
	width: 670px;
	height: 28px;
}

.setting-name-type2 {
	font-weight: normal;
}

.setting-item-type2 {
	height: 28px;
	float: left;
}

input[type="text"],
textarea {
	width: 223px;
	height: 13px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	font-family: Arial;
	font-size: 14px;
	color: #36444B;
	outline: 0;
	padding: 6px 10px;
	position: absolute;
	top: -6.5px;

}

.setting-type2-checkbox {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	margin-left: 10px;
	float: left;
}

.select-icon {
	width: 24px;
	height: 24px;
	background-image: url(./assets/sprite.png);
	background-position: -628px -24px;
	position: absolute;
	top: -4.5px;
	left: 215px;
}

.time-icon {
	background-image: url(./assets/sprite.png);
	background-position: -676px -24px;
}

.time {
	color: #FFCB00;
}

.kb {
	font-family: Arial;
	font-size: 14px;
	color: #A7A9AC;
	line-height: 16px\9;
	line-height: 16px;
	position: absolute;
	top: -2px;
	left: 203px;
}

.setting-type3 {
	margin-top: 12px;
	width: 500px;
	height: 24px;
}

textarea {
	height: 84px;
	resize: none;
	overflow: auto;
}

.setting-type4 {
	margin-top: 86px;
	width: 501px;
	height: 28px;
}

.setting-button {
	height: 16px;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	padding: 6px 0;
	color: #FFFFFF;
	background: linear-gradient(27deg, #00A3DF 70%, #4ACBD6 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorStr=#00A3DF, endColorStr=#4ACBD6);
	box-shadow: 0 0 2px 0 rgba(0, 85, 100, 0.15), 0 2px 2px 0 rgba(0, 85, 100, 0.30);
	border-radius: 5px;
	outline: 0;
	cursor: default;
}

.setting-button:hover {
	opacity: 0.8;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorStr=#CC00A3DF, endColorStr=#CC4ACBD6);
}

#button1 {
	width: 246px;
	position: absolute;
	top: -6.5px;
}

.footer {
	width: 100%;
	height: 28px;
	margin-top: 24px;
	padding: 12px 0;
	background: #FFFFFF;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.06), 0 -2px 3px 0 rgba(0, 0, 0, 0.06);
	position: relative;
	/* -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE,direction=0,strength=2)"; */
}

.back-top {
	height: 28px;
	float: right;
	margin-right: 24px;
	padding: 2px;
}

.back-top:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#button2 {
	width: 160px;
	float: right;
	margin-right: 36px;
}

.back-top-icon {
	width: 24px;
	height: 24px;
	background-image: url(./assets/sprite.png);
	background-position: -700px -24px;
	display: inline-block;
	margin-right: 8px;
}

.back-top-text {
	height: 28px;
	font-family: Arial;
	font-size: 14px;
	color: #A7A9AC;
	line-height: 16px\9;
	line-height: 16px;
	display: inline-block;
	vertical-align: 6px;
	cursor: default;
}
